###### datetime 
- date 연, 월, 일
- time 시간, 분, 초 마이크로초 등
- Timestamp - 날짜와 시간을 모두 가지고 있는 단일 객체
- datetime64  - numpy에서 제공하는 것

In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
date = datetime.date(year = 2023, month = 2, day = 14) # date 에서는 년도, 월, 일 설정
time = datetime.time(hour = 13, minute = 40, second = 5, microsecond = 1234) # time 에서는 시간, 분, 초, 마이크로초 설정

In [4]:
time

datetime.time(13, 40, 5, 1234)

In [5]:
dt = datetime.datetime(year = 2023, month = 2, day = 14, hour = 13, minute = 40, second = 5, microsecond = 1234) # 두 개의 메서드를 합쳐 놓은 버전

In [6]:
dt

datetime.datetime(2023, 2, 14, 13, 40, 5, 1234)

##### timedelta
- 시계열적인 계산이 가능한 메서드

In [7]:
td = datetime.timedelta(days = 5, hours = 5) # 시계열적인 계산을 위해 생성

In [8]:
td

datetime.timedelta(days=5, seconds=18000)

In [9]:
print(dt)
print(td)

2023-02-14 13:40:05.001234
5 days, 5:00:00

In [10]:
print(dt + td) # 2023년 2월 14일 13시 40분 05초로부터 5일 5시간 뒤의 날짜와 시간

2023-02-19 18:40:05.001234

In [11]:
print(date)
print(td)

2023-02-14
5 days, 5:00:00

In [12]:
print(date + td) # 두 시간의 형식이 다르면 시계열적인 계산 불가

2023-02-19

#### pandas에서 제공하는 함수 to_datetime
- 시계열데이터로 변환해주는 방법

In [13]:
pd.to_datetime('2023-2-14')

Timestamp('2023-02-14 00:00:00')

In [14]:
### pd.to_datetime('2023-13-2') # 연도, 월, 잘못입력하면 알아서 에러 찾아줌

In [15]:
a = pd.Series([10, 20, 30, 40])

In [16]:
pd.to_datetime(a, unit = 'D') # 1970년 1월 1일 기준

0   1970-01-11
1   1970-01-21
2   1970-01-31
3   1970-02-10
dtype: datetime64[ns]

In [17]:
pd.to_datetime(a, unit = 'D', origin = '1960-01-01') # origin 매개변수를 이용하여 기준일을 변경

0   1960-01-11
1   1960-01-21
2   1960-01-31
3   1960-02-10
dtype: datetime64[ns]

In [18]:
pd.to_datetime(a, unit = 'M')

0   1970-11-01 08:51:00
1   1971-09-01 17:42:00
2   1972-07-02 02:33:00
3   1973-05-02 11:24:00
dtype: datetime64[ns]

In [19]:
pd.to_datetime(a, unit = 'ns')

0   1970-01-01 00:00:00.000000010
1   1970-01-01 00:00:00.000000020
2   1970-01-01 00:00:00.000000030
3   1970-01-01 00:00:00.000000040
dtype: datetime64[ns]

#### 시계열 데이터 만들기

In [20]:
df = pd.Series(['2023-2-13', '13-2-2023', '2023/2/13', '40/5/2023'])

In [21]:
df

0    2023-2-13
1    13-2-2023
2    2023/2/13
3    40/5/2023
dtype: object

In [22]:
pd.to_datetime(df, errors = 'coerce') # 에러를 na값으로 바꿔라

0   2023-02-13
1   2023-02-13
2   2023-02-13
3          NaT
dtype: datetime64[ns]

In [23]:
pd.to_datetime(df, errors = 'ignore') # 에러를 무시하고 진행해라

0    2023-2-13
1    13-2-2023
2    2023/2/13
3    40/5/2023
dtype: object

#### 실제 데이터를 불러와서 만들어보자!

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
filepath = '/content/drive/MyDrive/Colab Notebooks/BDAA 학회/데이터셋/crime.csv'

In [26]:
crime = pd.read_csv(filepath)

In [27]:
crime

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

###### REPORTED_DATE 컬럼

In [28]:
crime.info() # REPORTED_DATE 컬럼이 object 타입

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  object
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 31.6+ MB

In [29]:
crime['REPORTED_DATE'] = pd.to_datetime(crime['REPORTED_DATE']) # object 타입을 datetime64 타입으로 변경

In [30]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  datetime64[ns]
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 31.6+ MB

#### crime 데이터를 인덱스로 변경하자
- 인덱스를 시계열 데이터로 만들기!

In [31]:
crime_df = crime.set_index('REPORTED_DATE') # 시계열 데이터를 다루기 위해 REPORTED_DATE 컬럼을 인덱스로 설정

In [32]:
crime_df

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949183,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

- 시계열 데이터를 인덱스로 변경 후에는, 슬라이싱, 원하는 요일, 연도 등 자유롭게 추출이 가능

In [33]:
crime_df.loc['2017'] # 2017년에 해당하는 데이터만 추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-05-22 14:41:00,7261,traffic-accident,traffic-accident,-104.673812,39.849292,dia,0,1
2017-05-17 20:35:00,7262,threats-to-injure,public-disorder,-105.020053,39.694351,ruby-hill,1,0
2017-06-07 07:47:00,7265,burglary-residence-by-force,burglary,-104.981677,39.763597,five-points,1,0
2017-05-26 16:46:00,7270,theft-other,larceny,-104.839119,39.769694,stapleton,1,0
2017-06-07 07:42:00,7272,criminal-trespassing,all-other-crimes,-104.673812,39.849292,dia,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949183,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

In [34]:
crime_df.loc['2017-09-15'] # 2017년 9월 15일에 해당하는 데이터만 추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-09-15 13:18:00,450830,liquor-possession,drug-alcohol,-104.979820,39.739224,capitol-hill,1,0
2017-09-15 12:53:00,450833,criminal-trespassing,all-other-crimes,-104.999951,39.753054,union-station,1,0
2017-09-15 16:54:00,450835,theft-other,larceny,-105.052259,39.640337,fort-logan,1,0
2017-09-15 16:03:00,450836,theft-shoplift,larceny,-104.954910,39.717317,cherry-creek,1,0
2017-09-15 08:02:00,450837,traffic-accident,traffic-accident,-104.977509,39.783541,globeville,0,1
...,...,...,...,...,...,...,...,...
2017-09-15 01:56:00,460307,drug-cocaine-possess,drug-alcohol,-104.890244,39.739802,east-colfax,1,0
2017-09-15 00:13:00,460449,theft-shoplift,larceny,-104.897946,39.769688,stapleton,1,0
2017-09-15 03:00:00,460462,vehicular-eluding-no-chase,all-other-crimes,-104.847005,39.789635,montbello,1,0
2017-09-15 01:42:00,460464,drug-heroin-possess,drug-alcohol,-104.990480,39.728076,lincoln-park,1,0
2017-09-15 15:22:00,460478,liquor-possession,drug-alcohol,-104.973097,39.740032,capitol-hill,1,0

In [35]:
crime_df.loc['Dec 2015'] # 영어 약어로도 추출이 가능

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2015-12-18 23:51:00,1213,theft-of-motor-vehicle,auto-theft,-105.024694,39.708538,athmar-park,1,0
2015-12-06 11:14:00,1223,theft-other,larceny,-105.010653,39.764714,highland,1,0
2015-12-12 20:43:00,1224,burglary-residence-by-force,burglary,-104.916538,39.722582,hilltop,1,0
2015-12-16 14:19:00,1232,public-peace-other,public-disorder,-104.984492,39.730045,capitol-hill,1,0
2015-12-22 14:14:00,1294,traf-other,all-other-crimes,-104.970889,39.760751,whittier,1,0
...,...,...,...,...,...,...,...,...
2015-12-08 15:29:00,377881,assault-simple,other-crimes-against-persons,-105.039861,39.676497,harvey-park,1,0
2015-12-11 08:55:00,378674,assault-simple,other-crimes-against-persons,-105.001805,39.710870,athmar-park,1,0
2015-12-21 14:15:00,379078,assault-dv,other-crimes-against-persons,-104.873367,39.670668,hampden,1,0
2015-12-08 13:09:00,435956,fraud-identity-theft,white-collar-crime,-105.064441,39.654373,bear-valley,1,0
2015-12-24 13:56:00,442801,theft-other,larceny,-104.956983,39.665810,wellshire,1,0

In [36]:
crime_df.loc['2017'].sort_index() # 2017년 데이터를 추출하여 오름차순으로 정렬

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-01-01 00:16:00,344311,weapon-unlawful-discharge-of,all-other-crimes,-104.943494,39.769454,clayton,1,0
2017-01-01 00:27:00,344762,theft-other,larceny,-104.994496,39.747944,cbd,1,0
2017-01-01 01:16:00,370737,assault-simple,other-crimes-against-persons,-104.991384,39.753888,five-points,1,0
2017-01-01 01:16:00,370148,weapon-unlawful-discharge-of,all-other-crimes,-104.838218,39.794725,montbello,1,0
2017-01-01 01:20:00,345896,traf-other,all-other-crimes,-104.961459,39.772793,cole,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [37]:
crime_df.loc['2017-01-01' : '2017-01-12'].sort_index() # 2017년 1월 1일과 2017년 1월 12일 사이의 데이터를 추출하여 오름차순으로 정렬

<ipython-input-37-eda283a0a8d8>:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  crime_df.loc['2017-01-01' : '2017-01-12'].sort_index() # 2017년 1월 1일과 2017년 1월 12일 사이의 데이터를 추출하여 오름차순으로 정렬

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-01-01 00:16:00,344311,weapon-unlawful-discharge-of,all-other-crimes,-104.943494,39.769454,clayton,1,0
2017-01-01 00:27:00,344762,theft-other,larceny,-104.994496,39.747944,cbd,1,0
2017-01-01 01:16:00,370148,weapon-unlawful-discharge-of,all-other-crimes,-104.838218,39.794725,montbello,1,0
2017-01-01 01:16:00,370737,assault-simple,other-crimes-against-persons,-104.991384,39.753888,five-points,1,0
2017-01-01 01:20:00,345896,traf-other,all-other-crimes,-104.961459,39.772793,cole,1,0
...,...,...,...,...,...,...,...,...
2017-01-12 23:31:00,368339,robbery-street,robbery,-104.980087,39.781848,globeville,1,0
2017-01-12 23:40:00,356249,traf-other,all-other-crimes,-104.980400,39.740144,north-capitol-hill,1,0
2017-01-12 23:43:00,368337,traffic-accident,traffic-accident,-104.912622,39.761905,north-park-hill,0,1
2017-01-12 23:45:00,361687,traf-other,all-other-crimes,-105.025094,39.714977,barnum,1,0
2017-01-12 23:51:00,366635,traf-other,all-other-crimes,-105.025039,39.682269,harvey-park,1,0

##### between_time, at_time
- 원하는 시간만 추출

In [38]:
crime_df.between_time('10:00', '15:00').sort_index() # between_time 메서드를 이용하여 10시부터 15시 사이의 데이터를 추출하여 오름차순으로 정렬

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 10:07:00,419591,traffic-accident,traffic-accident,-104.987420,39.744885,cbd,0,1
2012-01-02 10:21:00,430560,robbery-business,robbery,-104.987952,39.680818,overland,1,0
2012-01-02 10:55:00,73412,traffic-accident-hit-and-run,traffic-accident,-105.039614,39.718941,barnum,0,1
2012-01-02 11:05:00,41185,aggravated-assault,aggravated-assault,-104.884971,39.741441,east-colfax,1,0
2012-01-02 11:32:00,52674,theft-parts-from-vehicle,theft-from-motor-vehicle,-105.041071,39.699543,westwood,1,0
...,...,...,...,...,...,...,...,...
2017-09-28 14:37:00,453860,traffic-accident-hit-and-run,traffic-accident,-104.987378,39.743356,cbd,0,1
2017-09-28 14:37:00,455327,liquor-possession,drug-alcohol,-104.987310,39.753598,five-points,1,0
2017-09-28 14:43:00,453463,drug-methampetamine-sell,drug-alcohol,-104.987316,39.739243,capitol-hill,1,0
2017-09-28 14:58:00,453023,aggravated-assault,aggravated-assault,-104.937113,39.760998,north-park-hill,1,0
2017-09-28 15:00:00,453012,criminal-mischief-mtr-veh,public-disorder,-105.036416,39.709617,westwood,1,0

In [39]:
crime_df.at_time('17:12').sort_index() # at_time 메서드를 이용하여 17시 12분의 데이터를 추출하여 오름차순으로 정렬

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-09 17:12:00,420025,traffic-accident-hit-and-run,traffic-accident,-104.967168,39.779882,elyria-swansea,0,1
2012-01-09 17:12:00,439227,theft-parts-from-vehicle,theft-from-motor-vehicle,-104.975118,39.732261,capitol-hill,1,0
2012-01-18 17:12:00,81577,traffic-accident,traffic-accident,-104.925475,39.667489,hampden,0,1
2012-01-21 17:12:00,76449,theft-other,larceny,-105.048940,39.759138,west-highland,1,0
2012-01-26 17:12:00,68229,theft-of-motor-vehicle,auto-theft,-105.007757,39.702934,athmar-park,1,0
...,...,...,...,...,...,...,...,...
2017-09-05 17:12:00,451976,traffic-accident-hit-and-run,traffic-accident,-104.941818,39.738320,congress-park,0,1
2017-09-19 17:12:00,459134,traffic-accident-hit-and-run,traffic-accident,-105.043091,39.769144,west-highland,0,1
2017-09-19 17:12:00,460153,traffic-accident,traffic-accident,-104.978179,39.747500,north-capitol-hill,0,1
2017-09-20 17:12:00,459766,drug-cocaine-possess,drug-alcohol,-104.886679,39.745784,east-colfax,1,0
2017-09-28 17:12:00,454671,criminal-trespassing,all-other-crimes,-104.988776,39.742805,cbd,1,0

In [40]:
crime_df_sr = crime_df.at_time('17:12').sort_index()

In [41]:
crime_df_sr.first('5D') # crime_df_sr의 첫번째 날로부터 5일 후까지의 데이터를 추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-09 17:12:00,420025,traffic-accident-hit-and-run,traffic-accident,-104.967168,39.779882,elyria-swansea,0,1
2012-01-09 17:12:00,439227,theft-parts-from-vehicle,theft-from-motor-vehicle,-104.975118,39.732261,capitol-hill,1,0

In [42]:
crime_df_sr.last('10D')  # crime_df_sr의 마지막 날로부터 10일전까지의 데이터를 추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-09-19 17:12:00,459134,traffic-accident-hit-and-run,traffic-accident,-105.043091,39.769144,west-highland,0,1
2017-09-19 17:12:00,460153,traffic-accident,traffic-accident,-104.978179,39.747500,north-capitol-hill,0,1
2017-09-20 17:12:00,459766,drug-cocaine-possess,drug-alcohol,-104.886679,39.745784,east-colfax,1,0
2017-09-28 17:12:00,454671,criminal-trespassing,all-other-crimes,-104.988776,39.742805,cbd,1,0

### resample
- Datetime Index를 원하는 주기로 나누어주는 메서드

In [43]:
crime_df.resample('Y').sum() # 년도로 나누에 모든 변수에 대해 합을 구함

                Unnamed: 0       GEO_LON       GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-12-31     12809857901 -5.934292e+06  2.246145e+06     37286       19786
2013-12-31     14600806248 -7.246151e+06  2.742824e+06     50698       18862
2014-12-31     15047442066 -8.801341e+06  3.331490e+06     62690       21763
2015-12-31     18188224240 -9.280214e+06  3.512745e+06     65894       23310
2016-12-31     27056187738 -9.480964e+06  3.588870e+06     67381       23744
2017-12-31     18516726312 -7.250241e+06  2.744495e+06     51902       17836

In [44]:
crime_df.resample('Y').max() # 년도로 나누어 모든 변수에 대한 최댓값을 구함

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-12-31,450728,wiretapping,white-collar-crime,-104.609684,39.884707,windsor,1,1
2013-12-31,458681,wiretapping,white-collar-crime,-104.604508,39.904311,windsor,1,1
2014-12-31,458670,wiretapping,white-collar-crime,-104.609684,39.895109,windsor,1,1
2015-12-31,445547,window-peeping,white-collar-crime,-0.000002,39.884707,windsor,1,1
2016-12-31,448455,wiretapping,white-collar-crime,-0.000002,39.904311,windsor,1,1
2017-12-31,460910,window-peeping,white-collar-crime,-0.000002,39.896358,windsor,1,1

In [45]:
crime_df.resample('Q').max() # 분기별로 나누어 모든 변수에 대한 최댓값을 구함

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-03-31,450708,wiretapping,white-collar-crime,-104.665893,39.858704,windsor,1,1
2012-06-30,450728,wiretapping,white-collar-crime,-104.666952,39.862737,windsor,1,1
2012-09-30,450723,window-peeping,white-collar-crime,-104.665563,39.862737,windsor,1,1
2012-12-31,450725,wiretapping,white-collar-crime,-104.609684,39.884707,windsor,1,1
2013-03-31,450731,window-peeping,white-collar-crime,-104.609684,39.884707,windsor,1,1
2013-06-30,450729,wiretapping,white-collar-crime,-104.653275,39.904146,windsor,1,1
2013-09-30,458681,window-peeping,white-collar-crime,-104.604508,39.904311,windsor,1,1
2013-12-31,457852,weapon-unlawful-discharge-of,white-collar-crime,-104.633202,39.862737,windsor,1,1
2014-03-31,458291,wiretapping,white-collar-crime,-104.665508,39.862737,windsor,1,1
2014-06-30,457385,window-peeping,white-collar-crime,-104.609684,39.884707,windsor,1,1
2014-09-30,458670,window-peeping,white-collar-crime,-104.665441,39.895109,windsor,1,1
2014-12-31,447845,window-peeping,white-collar-crime,-104.665441,39.862737,windsor,1,1
2015-03-31,443994,window-peeping,white-collar-crime,-104.609684,39.884707,windsor,1,1
2015-06-30,434197,window-peeping,white-collar-crime,-0.000002,39.884707,windsor,1,1
2015-09-30,445547,window-peeping,white-collar-crime,-0.000002,39.884707,windsor,1,1
2015-12-31,442801,window-peeping,white-collar-crime,-0.000002,39.858704,windsor,1,1
2016-03-31,448455,wiretapping,white-collar-crime,-0.000002,39.904311,windsor,1,1
2016-06-30,417410,window-peeping,white-collar-crime,-0.000002,39.899693,windsor,1,1
2016-09-30,427199,window-peeping,white-collar-crime,-0.000002,39.875464,windsor,1,1
2016-12-31,417151,wiretapping,white-collar-crime,-0.000002,39.862877,windsor,1,1
2017-03-31,459664,window-peeping,white-collar-crime,-0.000002,39.874789,windsor,1,1
2017-06-30,460045,window-peeping,white-collar-crime,-0.000002,39.862877,windsor,1,1
2017-09-30,460910,window-peeping,white-collar-crime,-0.000002,39.896358,windsor,1,1

In [46]:
crime_df.resample('M').mean() # 월별로 나누어 모든 변수들에 대한 평균값을 구함

                  Unnamed: 0     GEO_LON    GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-31     216370.059352 -104.966387  39.727369  0.628990    0.371010
2012-02-29     233305.878552 -104.965819  39.728029  0.591652    0.409605
2012-03-31     213719.500114 -104.962538  39.729201  0.652787    0.347668
2012-04-30     205562.272259 -104.964431  39.729272  0.658657    0.342201
2012-05-31     207332.513792 -104.963739  39.728969  0.645105    0.355672
...                      ...         ...        ...       ...         ...
2017-05-31     209151.219378 -104.950815  39.726896  0.730647    0.269843
2017-06-30     385462.795972 -104.938447  39.722557  0.742509    0.258113
2017-07-31     389532.704367 -104.938483  39.723630  0.747169    0.253702
2017-08-31     418084.195882 -104.962857  39.733664  0.755464    0.245112
2017-09-30     455393.921149 -104.963262  39.733760  0.737709    0.262972

[69 rows x 5 columns]

https://docs.python.org/ko/3/library/datetime.html 참고